extends baseEmail

block content
    p Hello #{firstName}!
    p We hope you're doing well. 😊
    p You recently requested to reset the password for your TokShow Account. No worries, we've got you covered!
    p To complete the password reset process, please use the following code:
    p 
    p(style="font-size: 20px; font-weight: bold;") #{resetCode}
    
    p If you didn't initiate this request or remember your password, feel free to ignore this email.
    
    p Need any assistance? Don't hesitate to reach out to our friendly support team. We're here to help!
